.content {
  height: calc(100vh - 50px);
  width: calc(100% - 300px);
  overflow-y: scroll;
  transition: all .3s ease;
  position: relative;
  background-color: whitesmoke;
}

.content-expends {
  height: calc(100vh - 50px);
  width: 100%;
  overflow-y: scroll;
  padding: 0 10px;
  transition: all .3s ease;
  position: relative;
  background-color: whitesmoke;
}